/*
* @Author: Ponnenult
* @Date:   2017-11-14 01:12:29
* @Last Modified by:   Ponnenult
* @Last Modified time: 2017-11-14 02:00:25
*/
/*导航主体*/
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}

.nav-side .nav-item .link{
    color: #888;
}

.nav-side .nav-item.active .link{
    color: #c60023;
}

.nav-side .nav-item {
    line-height: 25px;
    font-size: 13px;
}

/*右侧内容区*/
.content.with-nav{
    float: left;
    width: 950px;
}